<div class="loader-backdrop" *ngIf="innerSpinner">
    <div class="loader"> 
        <img class="loading" src="../assets/images/ddk_box.svg"
    ></div>
</div>

<div class="row">
    <div class="col-12 custom-card">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 info-box">
                        <span class="heading b-b">Overview</span>
                        <ul class="blog-info">
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">ID:</span>
                                    <span class="col-md-8">{{blockInfo.id}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Timestamp:</span>
                                    <span class="col-md-8">{{blockInfo.timestamp | timeagofilter}} | {{blockInfo.timestamp | timestampFilter}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Height:</span>
                                    <span class="col-md-8">{{blockInfo.height}}</span>
                                </span>
                            </li>

                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Previous Block:</span>
                                    <span class="col-md-8">
                                        <a (click)="getBlockId(blockInfo.previousBlock,'blockId')" class="link-hover">{{blockInfo.previousBlock}}</a>
                                    </span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Number Of Transactions:</span>
                                    <span class="col-md-8">
                                        <a class="link-hover" (click)="numOfTrxs(content);showBlock(blockInfo)">{{blockInfo.numberOfTransactions}}</a>
                                    </span>
                                    <ng-template #content let-c="close" let-d="dismiss" class="list-transactions-wrapper">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Transactions ({{traxlength}})</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="list-transactions-modal">
                                                <ul class="list-transactions">
                                                    <li *ngFor="let trax of traxList">
                                                        <div class="transaction-data">
                                                            <strong>
                                                                <span>Transaction ID</span>:</strong> {{trax.id}}
                                                            <span class="pull-right">{{trax.timestamp | timeagofilter}} | {{trax.timestamp | timestampFilter}}</span>
                                                        </div>
                                                        <div class="transaction-path">
                                                            <div class="transaction-part pull-left">
                                                                <a href="javascript:void(0);" class="blue-link">{{trax.senderId}}</a>
                                                                <span ng-show="transaction.type != 8" class="DDK">{{trax.amount/100000000}} DDK</span>
                                                                <!-- <span ng-show="transaction.type == 8" class="DDK ng-hide">0 DDK</span> -->
                                                            </div>
                                                            <div class="transaction-direction">
                                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="transaction-part pull-right">
                                                                <a href="javascript:void(0);" class="blue-link">{{trax.recipientId}}</a>
                                                                <span class="DDK">{{trax.amount/100000000}} DDK</span>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <!-- <button type="button" class="btn waves-effect btn-sm waves-light btn-outline-info pull-right view-all" routerLink="/transactions">View All</button> -->
                                                        <div class="transaction-bottom clearfix">
                                                            <div class="btn waves-effect btn-sm waves-light btn-outline-info pull-left view-all m-r-10">
                                                                <span>TX Fees</span>: {{trax.fee | exponentialStrength}} DDK</div>
                                                                <div class="btn waves-effect btn-sm waves-light btn-outline-info pull-left view-all">
                                                                    <span>Type</span>:
                                                                    <span *ngIf="trax.trsName === 'SIGNATURE';else other_content">
                                                                        SECONDPASS
                                                                    </span>
                                                                    <ng-template #other_content>{{trax.trsName}}</ng-template>                                 
                                                                </div>
                                                            <div class="btn waves-effect btn-sm waves-light btn-outline-info pull-right view-all">{{trax.amount/100000000}} DDK</div>
                                                            <div class="btn waves-effect btn-sm waves-light btn-outline-info pull-right view-all m-r-10">{{trax.confirmations || 0}}
                                                                <span> Total Confirmation</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <span *ngIf="!(!!traxList) || traxList.length < 1"> No Transaction List </span>
                                            </div>
                                        </div>
                                    </ng-template>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Total Amount:</span>
                                    <span class="col-md-8">{{blockInfo.totalAmount/100000000}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Total Fee:</span>
                                    <span class="col-md-8">{{blockInfo.totalFee | exponentialStrength}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Pay load Hash:</span>
                                    <span class="col-md-8">{{blockInfo.payloadHash}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Generator:</span>
                                    <span class="col-md-8">{{blockInfo.username}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>