<div class="card-group m-b-30">
    <div class="card">
        <div class="card-body text-center">
            <div class="row">
                <div class="col-12 network-status">
                    <h2 class="m-b-0">
                        <i class="mdi mdi-briefcase-check text-info"></i>
                    </h2>
                    <h3 class="">{{currentHeight - 1}}</h3>
                    <h6 class="card-subtitle m-b-0">Height</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <div class="row">
                <div class="col-12 network-status">
                    <h2 class="m-b-0">
                        <i class="mdi mdi-alert-circle text-success"></i>
                    </h2>
                    <h3 class="">45,000,000</h3>
                    <h6 class="card-subtitle m-b-0">Supply</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <div class="row">
                <div class="col-12 network-status">
                    <h2 class="m-b-0">
                        <i class="mdi mdi-wallet text-purple"></i>
                    </h2>
                    <h3 class="">0.030</h3>
                    <h6 class="card-subtitle m-b-0">DDK/BTC</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body text-center">
            <div class="row">
                <div class="col-12 network-status">
                    <h2 class="m-b-0">
                        <i class="mdi mdi-buffer text-warning"></i>
                    </h2>
                    <h3 class="">7.43</h3>
                    <h6 class="card-subtitle m-b-0">DDK/USD</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 info-box">
                        <span class="heading b-b">Overview</span>
                        <ul class="blog-info">
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Name:</span>
                                    <span class="col-md-8">{{delegateInfo.username}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Address:</span>
                                    <span class="col-md-8">{{delegateInfo.address}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Public Key:</span>
                                    <span class="col-md-8">{{delegateInfo.publicKey}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Rate:</span>
                                    <span class="col-md-8">{{delegateInfo.rate}}</span>
                                </span>
                            </li>

                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Rank / Status</span>
                                    <span class="col-md-8">{{delegateInfo.rank}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Approval:</span>
                                    <span class="col-md-8">{{delegateInfo.approval}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Vote weight:</span>
                                    <span class="col-md-8">{{delegateInfo.vote/100000000}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Forged:</span>
                                    <span class="col-md-8">{{delegateInfo.producedblocks}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">Missed Blocks:</span>
                                    <span class="col-md-8">{{delegateInfo.missedblocks}}</span>
                                </span>
                            </li>
                            <li>
                                <span class="row info-summary">
                                    <span class="col-md-3">productivity:</span>
                                    <span class="col-md-8">{{delegateInfo.productivity}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <div class="card m-b-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 info-box">
                        <span class="heading b-b">Votes {{ votesCount }}</span>
                        <ul class="next-forgers">
                            <li *ngFor="let voters of Voters">
                                <div *ngIf="voters.username; else elseBlock"><a (click)="getAddressInfo(voters.address)" class="link-hover">{{ voters.username }}</a></div>
                                <ng-template #elseBlock><a (click)="getAddressInfo(voters.address)" class="link-hover">{{ voters.address }}</a></ng-template>
                                
                            </li>
                           <!--  <li>
                                <a href="#">will</a>
                            </li>
                            <li>
                                <a href="#">punkrock</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
