<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12 info-box">
                    <span class="heading b-b">Overview</span>
                    <ul class="blog-info">
                        <li>
                            <span class="row info-summary">
                                <span class="col-md-3">Address:</span>
                                <span class="col-md-8">{{addressInfo.address}}</span>
                            </span>
                        </li>
                        <li>
                            <span class="row info-summary">
                                <span class="col-md-3">Balance:</span>
                                <span class="col-md-8">{{(addressInfo.balance - addressInfo.totalFrozeAmount)/100000000}}</span>
                            </span>
                        </li>
                        <li>
                            <span class="row info-summary">
                                <span class="col-md-3">PublicKey:</span>
                                <span class="col-md-8">{{addressInfo.publicKey}}</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 default-tab-layout m-t-20">
                    <div class="tab-btn">
                        <button type="button" [class.active]="clicked === tab1" (click)="showTransactions()">Transactions</button>
                        <button type="button" [class.active]="clicked === tab2" (click)="showComments()">Comments</button>
                    </div>
                    <div [hidden]="!tab1">
                        <ngx-datatable #table class="material bootstrap" [rows]="senderInfo" [columns]="columns" [columnMode]="'force'" [headerHeight]="47"
                            [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [externalPaging]="true" [count]="page.totalElements"
                            [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [scrollbarH]="true">
                        </ngx-datatable>

                        <ng-template #senderId let-row="row">
                            <span *ngIf="row.senderName; else elseBlock">
                                <a (click)="getSenderId(row.senderId)" class="address-tag link-hover">{{row.senderName}}</a>
                            </span>
                            <ng-template #elseBlock>
                                <a (click)="getSenderId(row.senderId)" class="address-tag link-hover">{{row.senderId}}</a>
                            </ng-template>
                        </ng-template>

                        <ng-template #recipientId let-row="row">
                            <span *ngIf="row.recipientName; else elseBlock">
                                <a (click)="getSenderId(row.recipientId)" class="address-tag link-hover">{{row.recipientName}}</a>
                            </span>
                            <ng-template #elseBlock>
                                <a (click)="getSenderId(row.recipientId)" class="address-tag link-hover">{{row.recipientId}}</a>
                            </ng-template>
                        </ng-template>

                        <ng-template #fee let-row="row">
                            {{row.fee / 100000000 }}
                        </ng-template>

                        <ng-template #amount let-row="row">
                            <span *ngIf="row.type !== 8; else stakedAmount">{{row.amount/100000000}}</span>
                            <ng-template #stakedAmount>
                                {{ row.stakedAmount/100000000}}
                            </ng-template>
                        </ng-template>

                        <ng-template #timestamp let-row="row">
                            {{row.timestamp | timeagofilter }}
                        </ng-template>
                    </div>
                    <div [hidden]="!tab2" id="comments-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
