<div class="row">
    <div class="col-12 custom-card">
        <div class="card">
            <div class="card-body">
                <div class="info-box">
                    <span class="heading b-b">Overview</span>
                    <ul class="blog-info">
                        <li>
                            <span class="row info-summary">
                                <span class="col-md-3">Address:</span>
                                <span class="col-md-8">{{addressInfo.address}}</span>
                            </span>
                        </li>
                        <li>
                            <span class="row info-summary">
                                <span class="col-md-3">Balance:</span>
                                <span class="col-md-8">{{(addressInfo.balance - addressInfo.totalFrozeAmount)/100000000}}</span>
                            </span>
                        </li>
                        <li>
                            <span class="row info-summary">
                                <span class="col-md-3">PublicKey:</span>
                                <span class="col-md-8">{{addressInfo.publicKey}}</span>
                            </span>
                        </li>
                        <li>
                            <span class="row info-summary">
                                <span class="col-md-3">Total Transactions:</span>
                                <span class="col-md-8">{{addressInfo.count || 0}} txns</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="default-tab-layout m-t-25">
                    <div class="tab-btn">
                        <button type="button" [class.active]="clicked === tab1" (click)="showTransactions()">Transactions</button>
                        <button type="button" [class.active]="clicked === tab2" (click)="showComments()">Comments</button>
                    </div>
                    <div [hidden]="!tab1" class="tab-contant">
                        <ngx-datatable #table class="material bootstrap" [rows]="senderInfo" [columns]="columns" [columnMode]="'force'" [headerHeight]="47"
                            [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [externalPaging]="true" [count]="page.totalElements"
                            [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [scrollbarH]="true">
                        </ngx-datatable>
                        <ng-template #id let-row="row">
                            <a (click)="getTxId(row.id,'transactionId')" class="address-tag link-hover">{{row.id}}</a>
                        </ng-template>
                        <ng-template #senderId let-row="row">
                            <span *ngIf="row.senderName; else elseBlock">
                                <a (click)="getSenderId(row.senderId)" class="address-tag link-hover">{{row.senderName}}</a>
                            </span>
                            <ng-template #elseBlock>
                                <a (click)="getSenderId(row.senderId)" class="address-tag link-hover">{{row.senderId}}</a>
                            </ng-template>
                        </ng-template>
                        <ng-template #recipientId let-row="row">
                            <span *ngIf="row.recipientName; else elseBlock">
                                <a (click)="getSenderId(row.recipientId)" class="address-tag link-hover">{{row.recipientName}}</a>
                            </span>
                            <ng-template #elseBlock>
                                <a (click)="getSenderId(row.recipientId)" class="address-tag link-hover">{{row.recipientId}}</a>
                            </ng-template>
                        </ng-template>
                        
                        <ng-template #fee let-row="row">
                            {{row.fee / 100000000 }}
                        </ng-template>

                        <ng-template #amount let-row="row">
                            <span *ngIf="row.type !== 8; else stakedAmount">
                                <span *ngIf="row.recipientId==row.senderId"><i class="fa fa-circle text-muted"></i></span>
                                <span *ngIf="row.recipientId!=row.senderId && row.type != 8">
                                    <i class="fa" [ngClass]="{'fa-plus-circle text-success': row.recipientId == addressInfo.address, 
                                    'fa-minus-circle text-danger': row.senderId == addressInfo.address}"></i>
                                </span>
                                <span *ngIf="row.type == 8"><i class="fa fa-minus-circle text-danger"></i></span>
                                {{row.amount/100000000}}
                            </span>
                            <ng-template #stakedAmount>
                                <i class="fa fa-circle text-muted"></i>
                                {{ row.stakedAmount/100000000}}
                            </ng-template>
                        </ng-template>

                        <ng-template #timestamp let-row="row">
                            {{row.timestamp | timeagofilter }}
                        </ng-template>
                    </div>
                    <div [hidden]="!tab2" class="tab-contant" id="comments-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


