<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header logo-container">
            <a class="navbar-brand" href="index.html">

                <img src="assets/images/logo.png" alt="homepage" class="DDkoin-logo" width="100" />

            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->


        <!-- User profile and search -->
        <!-- ============================================================== -->
        <div class="search-menu-box">
            <ul class="navbar-nav my-lg-0 pr15">
                <li>
                    <a routerLink="/dashboard" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item dropdown bockchain-menu" ngbDropdown>
                    <a ngbDropdownToggle class="waves-effect waves-dark" href="javascript:void(0)" routerLinkActive="active">Blockchain</a>
                    <i class="fa fa-angle-down fa-inverse"></i>
                    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" ngbDropdownMenu>
                        <ul>
                            <li>
                                <a class="drop-title" routerLink="/transactions">View Transaction</a>
                            </li>
                            <li>
                                <a class="drop-title" routerLink="/unconfirmedTransactions">View Pending Transaction</a>
                            </li>
                            <li>
                                <a class="drop-title" routerLink="/block">View Block</a>
                        </ul>
                    </div>
                    </li>
                    <li>
                        <a routerLink="/delegate-monitor" routerLinkActive="active">Delegate Monitor</a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- Ends user profile and search  -->
            </ul>
        </div>
    </nav>
</header>