<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body table-container">
                <table datatable [dtOptions]="dtOptions" class="row-border hover">
                    <thead>
                        <tr>
                            <th>Transactions ID</th>
                            <th>Height</th>
                            <th>Block ID</th>
                            <th>SenderId</th>
                            <th>RecipientId</th>
                            <th>Time</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th class="txFee text-muted">[TxFee]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of transactionlist">
                            <!-- <td><a (click)="getTransactionId(transaction.id)" class="address-tag">{{transaction.id}}</a></td> -->
                            <td>
                                <a (click)="getTxId(transaction.id,'transactionId')" class="address-tag link-hover">{{transaction.id}}</a>
                            </td>
                            <td>
                                <a>{{transaction.height}}</a>
                            </td>
                            <td>
                                <a (click)="getBlockId(transaction.blockId,'blockId')" class="address-tag link-hover">{{transaction.blockId}}</a>
                            </td>
                            <td>
                                <a (click)="getSenderId(transaction.senderId)" class="address-tag link-hover">{{transaction.senderId}}</a>
                            </td>
                            <td>
                                <a (click)="getSenderId(transaction.recipientId)" class="address-tag">{{transaction.recipientId}}</a>
                            </td>
                            <td>{{transaction.timestamp | timeagofilter}}</td>
                            <div *ngIf="transaction.type === 8; else elseBlock">
                                <td>{{transaction.stakedAmount/100000000}}</td>
                            </div>
                            <ng-template #elseBlock>
                                <td>{{transaction.amount/100000000}}</td>
                            </ng-template>
                            <td>{{transaction.trsName}}</td>
                            <td class="font-11 text-muted">{{transaction.fee/100000000}} DDK</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
