.address-tag{
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 132px;
    white-space: nowrap;
}
.font-11{
    font-size: 11px!important;
}
.txFee{
    font-size: 11px!important;
    color: #adadad;
}
