<div class="loader-backdrop" *ngIf="innerSpinner">
  <div class="loader">
    <img class="loading" src="../assets/images/ddk_box.svg">
  </div>
</div>
<div class="card-group m-b-30">
  <div class="card">
    <div class="card-body text-center">
      <div class="row">
        <div class="col-12 network-status">
          <h2 class="m-b-0">
            <i class="mdi mdi-arrow-up-bold text-info"></i>
          </h2>
          <h3 class="">{{ currentBlock }}</h3>
          <h6 class="card-subtitle m-b-0">Height</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <div class="row">
        <div class="col-12 network-status">
          <h2 class="m-b-0">
            <i class="mdi mdi-link-variant text-success"></i>
          </h2>
          <h3 class="">45,000,000</h3>
          <h6 class="card-subtitle m-b-0">Supply</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <div class="row">
        <div class="col-12 network-status">
          <h2 class="m-b-0">
            <i class="mdi mdi-currency-usd text-warning"></i>
          </h2>
          <h3 class="">{{ DDKPrice || 180.513 }}</h3>
          <h6 class="card-subtitle m-b-0">DDK/USD</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <div class="row">
        <div class="col-12 network-status">
          <h2 class="m-b-0">
            <i class="mdi mdi-currency-btc text-purple"></i>
          </h2>
          <h3 class="">0.045</h3>
          <h6 class="card-subtitle m-b-0">DDK/BTC</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <div class="row">
        <div class="col-12 network-status">
          <h2 class="m-b-0">
            <!-- <i class="mdi mdi-navigation text-danger"></i> -->
            <img src="../assets/images/ethereum-classic.svg" width="15">
          </h2>
          <h3 class="">1.55</h3>
          <h6 class="card-subtitle m-b-0">DDK/ETH</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <div class="row">
        <div class="col-12 network-status">
          <h2 class="m-b-0">
            <!-- <i class="mdi mdi-navigation text-danger"></i> -->
            <img src="../assets/images/dinar-icon.png" width="18">
          </h2>
          <h3 class="">0.9</h3>
          <h6 class="card-subtitle m-b-0">DDK/DNC</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 custom-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 m-b-30 delegates-info">
            <h3>Delegates</h3>
            <span class="btn-block">{{delegateCount}} Total Delegates</span>
            <span class="btn-block">{{activeDelegates}} Active Delegates</span>
            <span class="btn-block">{{delegateCount - activeDelegates}} Standby Delegates</span>
          </div>
          <div class="col-md-4 m-b-30 delegates-info">
            <h3>Last Block By</h3>
            <span class="btn-block">
              <div *ngIf="lastBlock.username; else elseBlock">
                <a (click)="getDelegateInfo(lastBlock.generatorPublicKey)" class="link-hover">{{lastBlock.username}}</a>
              </div>
              <ng-template #elseBlock>
                <a (click)="getDelegateInfo(lastBlock.generatorPublicKey)" class="link-hover">{{lastBlock.generatorId}}</a>
              </ng-template>

            </span>
            <span class="btn-block">
              <a (click)="getBlockId(lastBlock.id, 'blockId')" class="link-hover">{{lastBlock.id}} </a>
            </span>
            <span class="btn-block">Applied {{lastBlock.numberOfTransactions}} transactions with
              {{lastBlock.confirmations}}
              confirmations</span>
          </div>

          <div class="col-md-4 m-b-30 delegates-info">
            <h3>Next Forgers</h3>
            <span class="btn-block" *ngFor="let delegate of nextForgersList;let i=index">
              <a *ngIf="i < 1">{{nextForgersList[0].username}}</a>
            </span>
            <ul class="next-forgers">
              <li *ngFor="let delegate of nextForgersList | slice:1">
                <a (click)="getDelegateInfo(delegate.publicKey)" class="link-hover">{{delegate.username}}</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4 delegates-info">
            <h3>Best Forgers</h3>
            <span class="btn-block">
              <a (click)="getDelegateInfo(bestForger.publicKey)" class="link-hover">{{bestForger.username}}</a>
            </span>
            <span class="btn-block">{{bestForger.producedblocks}} Blocks Forged</span>
            <span class="btn-block">since registration</span>
          </div>
          <div class="col-md-4 delegates-info">
            <h3>Best Productivity</h3>
            <span class="btn-block">{{bestProductivity.productivity}}%</span>
            <span class="btn-block">
              <a (click)="getDelegateInfo(bestProductivity.publicKey)" class="link-hover">by
                {{bestProductivity.username}}</a>
            </span>
          </div>
          <div class="col-md-4 delegates-info">
            <h3>Worst Productivity</h3>
            <span class="btn-block">{{worstProductivity.productivity}}%</span>
            <span class="btn-block">
              <a (click)="getDelegateInfo(worstProductivity.publicKey)" class="link-hover">by
                {{worstProductivity.username}}</a>
            </span>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="default-tab-layout m-t-30">
          <h4 class="card-title m-b-0 font-medium">Latest Votes</h4>
          <div class="table-container p-t-em">
            <ngx-datatable #table class="material bootstrap" [rows]="latestVotes" [columns]="columns1" [columnMode]="'force'"
              [headerHeight]="47" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [externalPaging]="true"
              [count]="page1.totalElements" [offset]="page1.pageNumber" [limit]="page1.size" (page)='setPage($event)'
              [scrollbarH]="true">
            </ngx-datatable>

            <ng-template #voters let-row="row">
              <span *ngIf="row.senderName; else elseBlock">
                <a (click)="getSenderId(row.senderId)" class="link-hover">{{row.senderName}}</a>
              </span>
              <ng-template #elseBlock>
                <a (click)="getSenderId(row.senderId)" class="link-hover">{{row.senderId}}</a>
              </ng-template>
            </ng-template>

            <ng-template #transactionId let-row="row">
              <a (click)="getTxId(row.id,'transactionId')" class="link-hover">{{row.id}}</a>
            </ng-template>

            <ng-template #timestamp let-row="row">
              {{ row.timestamp | timeagofilter }} | {{ row.timestamp | timestampFilter }}
            </ng-template>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="default-tab-layout m-t-30">
          <h4 class="card-title m-b-0 font-medium">Newest Delegates</h4>
          <div class="table-container p-t-em">
            <ngx-datatable #table class="material bootstrap" [rows]="latestDelegates" [columns]="columns2" [columnMode]="'force'"
              [headerHeight]="47" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true" [externalPaging]="true"
              [count]="page2.totalElements" [offset]="page2.pageNumber" [limit]="page2.size" (page)='setPage($event)'
              [scrollbarH]="true">
            </ngx-datatable>

            <ng-template #name let-row="row">
              <a (click)="getDelegateInfo(row.publicKey)" class="link-hover">{{row.username}}</a>
            </ng-template>

            <ng-template #address let-row="row">
              <a (click)="getSenderId(row.address)" class="link-hover">{{row.address}}</a>
            </ng-template>

            <ng-template #producedBlocks let-row="row">
              {{ row.producedblocks }}
            </ng-template>

            <ng-template #missedBlocks let-row="row">
              {{row.missedblocks }}
            </ng-template>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="default-tab-layout m-t-20">
          <div class="tab-btn">
            <button [ngClass]="{'tab-active': isActive}" type="button" (click)="showActiveDelegates()">Active
              Delegates</button>
            <button [ngClass]="{'tab-active': isAct}" type="button" (click)="showStandbyDelegates()">Standby
              Delegates</button>
          </div>
          <div class="tab-contant-wrapper p-20">
            <div class="row">
              <div class="col-md-12">
                <h4 class="card-title font-medium m-b-20" *ngIf="tab1 == true">Active Delegates</h4>
                <h4 class="card-title font-medium m-b-20" *ngIf="tab2 == true">Standby Delegates</h4>
                <div class="row">
                  <div class="col-md-3 col-lg-3 col-xlg-2">
                    <div class="card card-inverse card-info">
                      <div class="box bg-info text-center">
                        <h1 class="font-light text-white">{{totalActiveForged}}</h1>
                        <h6 class="text-white">Forged block recently</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xlg-2">
                    <div class="card card-inverse">
                      <div class="card-red" style="background: #f04a0d">
                        <div class="box text-center">
                          <h1 class="font-light text-white">{{totalMissedBlocks}}</h1>
                          <h6 class="text-white">Missed block recently</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xlg-2">
                    <div class="card card-inverse">
                      <div class="card-blue" style="background: #24d0d0">
                        <div class="box text-center">
                          <h1 class="font-light text-white">{{activeDelegates - nextForgers.length}}</h1>
                          <h6 class="text-white">Not forging</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xlg-2">
                    <div class="card card-inverse">
                      <div class="card-coral" style="background: #ff7f50">
                        <div class="box text-center">
                          <h1 class="font-light text-white">{{activeDelegates - 1}}</h1>
                          <h6 class="text-white">In queue for forging</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="table-container" [hidden]="!tab1">
                  <ngx-datatable #table class="material bootstrap" [rows]="delegatesInfo" [columns]="columns3"
                    [columnMode]="'force'" [headerHeight]="47" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true"
                    [externalPaging]="true" [count]="page3.totalElements" [offset]="page3.pageNumber" [limit]="page3.size"
                    (page)='setPage($event)' [scrollbarH]="true">
                  </ngx-datatable>

                  <ng-template #rank let-row="row">
                    {{row.rank}}
                  </ng-template>

                  <ng-template #voteCount let-row="row">
                    {{row.voteCount}}
                  </ng-template>

                  <ng-template #vote let-row="row">
                    {{row.vote / 100000000}}
                  </ng-template>

                  <ng-template #address let-row="row">
                    <a (click)="getSenderId(row.address)" class="link-hover">{{row.address}}</a>
                  </ng-template>

                  <ng-template #status let-row="row">
                    <span *ngIf="row.status; else elseBlock">
                      <div class="label label-table label-success text-center">Forging</div>
                    </span>
                    <ng-template #elseBlock>
                      <div class="label label-table label-warning text-center">Awaiting</div>
                    </ng-template>
                  </ng-template>

                  <ng-template #productivity let-row="row">
                    {{row.productivity }}
                  </ng-template>

                  <ng-template #approval let-row="row">
                    {{row.approval }}
                  </ng-template>
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-container" [hidden]="!tab2">
                  <!--   <h4 class="card-title font-medium m-b-20">Standby Delegates</h4> -->
                  <ngx-datatable #table class="material bootstrap" [rows]="standbyDelegates" [columns]="columns4"
                    [columnMode]="'force'" [headerHeight]="47" [footerHeight]="50" [rowHeight]="'auto'" [scrollbarH]="true"
                    [externalPaging]="true" [count]="page4.totalElements" [offset]="page4.pageNumber" [limit]="page4.size"
                    (page)='setPage($event)' [scrollbarH]="true">
                  </ngx-datatable>

                  <ng-template #rank let-row="row">
                    {{row.rank}}
                  </ng-template>

                  <ng-template #address let-row="row">
                    <a (click)="getSenderId(row.address)" class="link-hover">{{row.address}}</a>
                  </ng-template>

                  <ng-template #status let-row="row">
                    <span *ngIf="row.status; else elseBlock">
                      <div class="label label-table label-success text-center">Forging</div>
                    </span>
                    <ng-template #elseBlock>
                      <div class="label label-table label-warning text-center">Awaiting</div>
                    </ng-template>
                  </ng-template>

                  <ng-template #productivity let-row="row">
                    {{row.productivity }}
                  </ng-template>

                  <ng-template #approval let-row="row">
                    {{row.approval }}
                  </ng-template>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
